body {
  height: 100%;
  width: 100%;
  font-family: 'Inconsolata', monospace;
  display: grid;
  place-items: center;
  align-items: center;
  min-height: 100vh;
  background-color: #9ACF91;
}


nav ul li{
  background: #989AB8;
  border-radius: 3px;
  color: white;
  font-family: 'Inconsolata', monospace;
  display: inline-block;
  list-style-type: none;
  padding: 5px 10px;
  margin: 0%;
}

nav ul li a{
  color: #D5D3F5;
  text-decoration: none;
}

li{
  display:inline;
}

li a:hover{
  color: #996970
}

button:hover {
  background-color: #F7B86B; /* Green */
  color: white;
}

button { 
  transition-duration: 0.4s;
  margin-top: 5px;
  background-color: #63945D;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Inconsolata', monospace;
}

h2{
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
} 

.icon{
  text-align:center;
  display:block;
  width:100;
  height:80;
}

.main#img{
  border: 5px solid #63945D;
  border-radius: 2px;
}

body#home {
  height: 100%;
  width: 100%;
  font-family: 'Inconsolata', monospace;
  color: #EEF2EA;
  background-color: #2e581e;
  margin: auto;
}

.myDiv{
  display: flex;
  justify-content: center;
}

.col1, .col2{
  max-width: 17%;
  animation: fadeIn 5s;
}

.spaceBreak{
  margin: 30px;
}

li#hpOption{
  padding:18px;
  animation: fadeIn 5s;
}

h1#mainHead{
  display:flex;
  justify-content: center;
  font-family: 'Lexend', sans-serif;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

img#logoHome {
  position: absolute;
  top: 0px;
  left: 0px;
  animation: fadeIn 5s;
}

img#logo {
  position: absolute;
  top: 0px;
  left: 0px;
}

img#collage{
  border: 5px solid #133c11;
  border-radius: 2px;
  animation: fadeIn 5s;
}

img#quizQuestion{
  border: 5px solid #63945D;
  border-radius: 2px;
}